<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
    <title>Report</title>
</head>

<body>

    <div class='report'>
        <header>
            <nav class="nav">
                <a href="{{ url_for('main.main') }}">Home</a>
                <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
                <a href="#">Report</a>
                <a href="{{ url_for('rec_sys.rec_sys') }}">Recommendation</a>
            </nav>
            <nav class='white-space'>
            </nav>
        </header>


        <main>
            <div id="info-title">
                <div class="container">
                    <div class="row text-center">
                        <div class="title"></div>
                        <h3>Big Data Algorithms</h3>
                        <p>Amazon Book Review Analysis</p>
                    </div>
                </div>
            </div>

            <div id="about-report" class="container space">
                <div class="row">


                    <div class="col-mid-offset-2 col-mid-8">
                        <h4>About this tool</h4>
                        <p>
                            This visualization tool provides building-level energy performance data for the 2016, 2017, and 2018 calendar years for Philadelphia’s largest commercial and multifamily buildings, including around 2,700 buildings required to report annual energy and
                            water usage as part of Philadelphia’s energy benchmarking law. You can learn more about energy benchmarking at
                            <a href="http://www.phila.gov/benchmarking" target="_blank" class="ng-binding">
                                www.phila.gov/benchmarking
                            </a>.
                        </p>
                        <br>
                        <h4>Building Energy Performance</h4>
                        <p>
                            This visualization tool provides building-level energy performance data for the 2016, 2017, and 2018 calendar years for Philadelphia’s largest commercial and multifamily buildings, including around 2,700 buildings required to report annual energy and
                            water usage as part of Philadelphia’s energy benchmarking law. You can learn more about energy benchmarking at
                            <a href="http://www.phila.gov/benchmarking" target="_blank" class="ng-binding">
                                www.phila.gov/benchmarking
                            </a>.
                        </p>
                        <h4>Credits</h4>

                        <p>
                            This visualization tool provides building-level energy performance data for the 2016, 2017, and 2018 calendar years for Philadelphia’s largest commercial and multifamily buildings, including around 2,700 buildings required to report annual energy and
                            water usage as part of Philadelphia’s energy benchmarking law. You can learn more about energy benchmarking at
                            <a href="http://www.phila.gov/benchmarking" target="_blank" class="ng-binding">
                                www.phila.gov/benchmarking
                            </a>.
                        </p>
                    </div>
                </div>




            </div>


        </main>
</body>

</html>